<ion-header>
  <ion-toolbar>
    <ion-title>curriculum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label><b>2010-actualidad</b> <br><br> Panadero en Pânaderías Paco</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>2010-actualidad</b> <br><br> Panadero en Pânaderías Paco</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>2010-actualidad</b> <br><br> Panadero en Pânaderías Paco</ion-label>
    </ion-item>
   
  </ion-list>
  
</ion-content>
