<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

 


  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a iBiblio</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Gran colección de libros para todos!! Disfruta de todos los titulos del momento. 
      La historia de la biblioteca es una subdisciplina dentro de la ciencia de la
       biblioteca y la ciencia de la información y la biblioteca que se centra en 
       la historia de las bibliotecas y su papel en las sociedades y culturas. Algu
       nos ven el campo como un subconjunto del historial de información.
    </ion-card-content>
    <ion-item href="biblioteca" class="ion-activated">
      <ion-icon name="book" slot="start"></ion-icon>
      <ion-label>Acceso a iBiblioteca</ion-label>
    </ion-item>

  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a iBiblio</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Aplicación desarrollada por Flavio de Diego Montes
    </ion-card-content>
    <ion-item href="autor" class="ion-activated">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Acceso a Curriculum</ion-label>
    </ion-item>

  </ion-card>


</ion-content>
